.wrapper{
    display:grid;
      justify-content:center;
      grid-template-columns:repeat(auto-fit,minmax(12rem,16rem));
    gap:2rem;
  }

  .title{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }